<footer class="h-48 flex items-center justify-around bg-black text-gray-400">
        <p class="f_logo">
            <img src="../img/logo.png" alt="" class="img-normal w-16 h-16"/>
        </p>


        <p class="h-20" style="width:800px;height: 80px">
            사업번호 252-86-01109 &nbsp;|&nbsp;asd &nbsp;|&nbsp; 전화번호 02-2088-6042<br>
            진짜 뺴기기<br>
            아아아앙아ㅏ 너무 어렵다<br>
        </p>

        <ul class="f_sns">
            <li><a target="_blank" href=""> <img
                    src="" alt="facebook" class="img-normal"
                    width="48px" height="48px;">
            </a></li>
            <li><a target="_blank" href=""> <img
                    src="" alt="instagram" class="img-normal"
                    width="48px" height="48px;">

            </a></li>
        </ul>
</footer>