<footer class="h-40 flex items-center justify-around bg-black text-gray-400">
    <p class="f_logo">
        <img src="../img/footer.jpg" alt="" class="w-40 h-30 "/>
    </p>


    <p class="h-20" style="width:800px;height: 80px">
        Laboratory&nbsp;|&nbsp; Tema YHPJ &nbsp;|&nbsp;Phone Number 010-8559-6522<br>
        Project for blockchain research<br>
        Created after 2020-07-10<br>
    </p>

    <ul class="flex">
        <li><a target="_blank" href=""> <img
                src="../img/facebook.png" alt="" class="mr-4"
                width="35px" height="35px">
        </a></li>
        <li><a target="_blank" href=""> <img
                src="../img/instagram.png" alt="ㅇ" class="img-normal"
                width="35px" height="35px;">

        </a></li>
    </ul>
</footer>