<nav class="flex h-20 items-center w-full border-b z-20 top-0 sticky bg-white">
    <div class="flex-grow flex justify-center">
        <a href="/" class="text-4xl font-bold change">SNAPBIT</a>

    </div>
    <div class="justify-around flex-grow flex justify-between change text-lg">
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/">Home</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1" href="/contents">Contents</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/news">News</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/board">Board</a>
    </div>
    <div class="flex-grow flex justify-center transform" th:if="${session.user_info} == null">
        <form method="get" action="/signIn">
            <ul>
                <button class="focus:outline-none flex items-center">
                    <p class="mr-4">로그인</p>
                    <img src="../img/userIcon.svg"
                         class="h-8 w-8 mr-3 transform hover:scale-110 duration-300 ease-in-out">
                </button>
            </ul>
        </form>
    </div>
    <div class="flex-grow flex justify-center transform" th:if="${session.user_info} != null">
        <form id="signOut">
            <ul class="flex">
                <div class="flex items-center">
                    <a href="/userInfo">
                        <img src="../img/userIcon.svg"
                             class="h-8 w-8 mr-3 transform hover:scale-110 duration-300 ease-in-out">
                    </a>
                    <p th:text="|${session.user_info.nickname}님|" class="text-lg mr-5"></p>
                    <button>
                        <img src="../img/signOut.svg"
                             class="h-8 w-8 mr-3 transform hover:scale-110 duration-300 ease-in-out">
                    </button>
                </div>
            </ul>
        </form>
    </div>
</nav>