<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.css">
    <link rel="stylesheet" href="../css/tailwind.css">
    <!--Google_Font-->
    <link rel="stylesheet" href="../css/font.css"/>
</head>
<body>
<nav class="flex h-20 items-center w-full border-b z-10 top-0" th:replace="common/nav"></nav>

<section style="background-image: url(../img/detail2.jpg); height: 350px"
         class="w-full flex flex-col items-center justify-center">
    <div style="background-color: rgba(0, 0, 0, 0.3);height: 350px" class="w-full absolute"></div>
    <div class="border-t-2 border-b-2 text-white flex-col flex items-center text-lg z-10"style="width: 500px">
        <p class="mt-2 text-2xl">SNAPBIT의 핵심가치는</p>
        <p class="mb-2 text-2xl">모든 고객이 만족할 수 있는 서비스 입니다</p>
    </div>
</section>

<!-- 게시물 본문-->
<section class="flex flex-col mt-4 w-full">


    <!-- 게시물-->
    <article class="w-1/2 ml-40 border-b mt-8">
        <div class="border-b mb-2 flex flex-col h-40 justify-around">
            <p th:text="${boardDto.title}" class="font-bold text-4xl"></p>

            <div class="w-full flex justify-between mt-4">
                <p class="text-gray-600 " th:text="|작성자 : ${boardDto.author}|"></p>
                <div class="flex text-gray-600">
                    <p th:text="|조회수 ${boardDto.hit} 회|" class="mr-8"></p>
                    <p th:text="${#temporals.format(boardDto.createdDate, 'M월 d일 HH:mm')}"></p>
                </div>
            </div>
        </div>
        <div class="flex flex-col w-3/4 mb-8 mt-8">
            <p class="text-xl" th:text="${boardDto.content}"></p>
        </div>
    </article>

    <article class="w-1/2 ml-40 mt-4" >
        <div th:if="${session.user_info} != null">
            <form action="/board/like" method="post">
                <input type="hidden" name="user" th:value="${session.user_info.id}">
                <input type="hidden" name="board" th:value="${boardDto.id}">
                <div th:if="${#lists.size(loveeDtoList)} == 0" class="flex items-center">
                    <button class="transform transition duration-300 hover:scale-105 hover:-translate-y-2 focus:outline-none">
                        <img src="../img/unlike.svg" class="h-5 w-5">
                    </button>
                    <span class="ml-2">좋아요 0개</span>
                </div>
                <th:block th:if="${#lists.size(loveeDtoList)} > 0">
                    <th:block th:each="loveeDto:${loveeDtoList}">
                        <div th:if="${loveeDto.user}==${session.user_info.id} and ${loveeDto.board}==${boardDto.id}" class="flex items-center">
                            <button class="transform transition duration-300 hover:scale-105 hover:-translate-y-2 focus:outline-none">
                                <img src="../img/like.svg" class="h-5 w-5">
                            </button>
                            <span class="ml-2" th:text="|좋아요 ${#lists.size(loveeDtoList)}개|"></span>
                        </div>
                        </button>
                    </th:block>
                </th:block>
            </form>

            <!-- 수정/삭제 -->
            <th:block th:if="${boardDto.author} == ${session.user_info.nickname}">
                <div class="flex justify-end w-full">
                    <form method="get" th:action="@{'/post/edit/' + ${boardDto.id}}">
                        <button class="w-12 h-10 hover:bg-gray-200 focus:outline-none">수정</button>
                    </form>

                    <form th:action="@{'/post/' + ${boardDto.id}}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button class="w-12 h-10 hover:bg-gray-200 outline-none">삭제</button>
                    </form>
                </div>
            </th:block>
        </div>

        <div th:if="${session.user_info} == null" class="flex items-center">
            <button onclick="userVerify()" class="transform transition duration-300 hover:scale-105 hover:-translate-y-2 focus:outline-none">
                <img src="../img/unlike.svg" class="h-5 w-5">
            </button>
            <span class="ml-2" th:text="|좋아요 ${#lists.size(loveeDtoList)}개|"></span>
        </div>


    </article>

    <!-- 댓글 입력 -->
    <article class="w-1/2 ml-40 mt-12 flex flex-col">
        <p class="text-xl font-bold mb-3">댓글</p>
        <div th:if="${session.user_info} != null">
            <form id="comment__form" action="/board/comment" method="post">
                <input type="hidden" name="board_id" th:value="${boardDto.id}">
                <input type="hidden" name="nickname" th:value="${session.user_info.nickname}">
                <input required name="comment" type="text" class="comment text-lg w-full border-b h-12 bg-gray-100 focus:outline-none" placeholder="댓글을 입력하세요">
                <div class="flex justify-end mt-2">
                    <button class="w-12 h-10 hover:bg-gray-200 focus:outline-none" id="comment__cancle" onclick="commentCancle()">취소</button>
                    <button class="w-12 h-10 hover:bg-gray-200 focus:outline-none" type="submit">댓글</button>
                </div>
            </form>
        </div>
        <div th:if="${session.user_info} == null">
            <form>
                <input name="comment" type="text" class="comment text-lg w-full border-b h-12 bg-gray-100 focus:outline-none" placeholder="댓글을 입력하세요">
                <div class="flex justify-end mt-2">
                    <button class="w-12 h-10 hover:bg-gray-200 focus:outline-none" onclick="commentCancle()">취소</button>
                    <button class="w-12 h-10 hover:bg-gray-200 outline-none" onclick="userVerify()">댓글</button>
                </div>
            </form>
        </div>
    </article>
</section>


<!-- 댓글 리스트 -->
<section class="h-screen flex flex-col mt-4 w-full" th:if="${#lists.size(commentDtoList)} > 0">
    <article class="w-1/2 ml-40">
        <div th:each="comment : ${commentDtoList}" class="p-3 w-full flex focus:outline-none hover:bg-gray-100 h-20 border-b">
            <img src="../../img/user.svg" class="w-8 h-8 mr-4">
            <div class="flex-col justify-center mb-5">
                <p th:text="${comment.nickname}" class="text-lg"></p>
                <p th:text="${comment.comment}" class="text-gray-600 text-lg"></p>
            </div>
        </div>
    </article>
</section>

<section class="h-screen flex flex-col mt-4 w-full" th:if="${#lists.size(commentDtoList)} == 0">
    <article class="w-1/2 ml-40 text-lg">
        댓글이 없습니다. 첫 댓글을 달아보세요! 🥰🥰
    </article>
</section>



<footer class="h-40 flex items-center justify-around bg-black text-gray-400" th:replace="common/footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    var boardDto = /*[[${boardDto}]]*/ "";
    /*]]>*/
</script>

<!-- script -->
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script>
    function commentCancle(){
        $('.comment').val('')
        $('.comment').focus();
    }

    function userVerify() {
        alert("로그인 후 이용바랍니다.");
        return false;
    }

    $('[name=comment]').keydown(function(e) {
        if (e.keyCode === 13) {
            if($(this).val() != '') {
                $(this).parent().submit();
            }
            return false;
        }
    });

</script>

<!--로그아웃-->
<script>
    $('#signOut').submit(function () {
        $.ajax({
            url: 'signOut',
            type: 'get',
            success: function (res) {
                if (res === "success") {
                    alert("정상적으로 로그아웃되었습니다.");
                    location = "/";
                }
            }
        })
        return false;
    })
</script>


</body>
</html>