<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <!--Google_Font-->
    <link rel="stylesheet" href="/css/font.css"/>
</head>
<body>
<nav class="flex h-20 items-center w-full border-b z-20 top-0 sticky bg-white">
    <div class="flex-grow flex justify-center">
        <a href="/" class="text-4xl font-bold change">SNAPBIT</a>

    </div>
    <div class="justify-around flex-grow flex justify-between change text-lg">
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/">Home</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1" href="/contents">Contents</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/news">News</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/board">Board</a>
    </div>
    <div class="flex-grow flex justify-center transform" th:if="${session.user_info} == null">
        <form method="get" action="/signIn">
            <ul>
                <button class="focus:outline-none flex items-center">
                    <p class="mr-4">로그인</p>
                    <img src="/img/userIcon.svg"
                         class="h-8 w-8 mr-3 transform hover:scale-110 duration-300 ease-in-out">
                </button>
            </ul>
        </form>
    </div>
    <div class="flex-grow flex justify-center transform" th:if="${session.user_info} != null">
        <form id="signOut">
            <ul class="flex">
                <div class="flex items-center">
                    <a href="/userInfo">
                        <img src="/img/userIcon.svg"
                             class="h-8 w-8 mr-3 transform hover:scale-110 duration-300 ease-in-out">
                    </a>
                    <p th:text="|${session.user_info.nickname}님|" class="text-lg mr-5"></p>
                    <button>
                        <img src="/img/signOut.svg"
                             class="h-8 w-8 mr-3 transform hover:scale-110 duration-300 ease-in-out">
                    </button>
                </div>
            </ul>
        </form>
    </div>
</nav>

<section style="background-image: url(/img/detail2.jpg); height: 350px" class="w-full flex flex-col items-center justify-center">
    <div style="background-color: rgba(0, 0, 0, 0.3);height: 350px" class="w-full absolute"></div>
    <div class="border-t-2 border-b-2 text-white flex-col flex items-center text-lg z-10"style="width: 500px">
        <p class="mt-2 text-2xl">SNAPBIT의 핵심가치는</p>
        <p class="mb-2 text-2xl">모든 고객이 만족할 수 있는 서비스 입니다</p>
    </div>
</section>

<section class="flex justify-center mt-4 w-full h-screen">
    <article class="w-1/2 border-b mt-8">
        <div class="border-b mb-2 flex flex-col h-40 justify-around">
            <p class="font-bold text-4xl">게시물 수정</p>
            <p class="text-xl text-gray-600" th:text="|${session.user_info.nickname}님이 작성한 게시물입니다|"></p>
        </div>
        <div class="flex justify-center">
            <div class="flex flex-col w-3/4 mb-8 mt-8">
                <form th:action="@{'/post/edit/' + ${boardDto.id}}" method="post">
                    <input type="hidden" name="_method" value="put"/>
                    <input type="hidden" name="id" th:value="${boardDto.id}"/>
                    <input type="hidden" name="author" th:value="${session.user_info.nickname}">
                    <div class="w-full flex h-10 items-center">
                        <span style="width: 20%" class="text-center text-xl font-bold">제목</span>
                        <input th:value="${boardDto.title}" type="text" name="title" class="focus:outline-none text-xl w-full h-full border-b"
                               placeholder="제목을 입력하세요">
                    </div>
                    <div class="w-full flex h-64 mt-8">
                        <span style="width: 20%" class="text-center text-xl font-bold">내용</span>
                        <textarea type="text" name="content" class="focus:outline-none text-xl w-full h-full border"
                                  placeholder="내용을 입력하세요">[[${boardDto.content}]]</textarea>
                    </div>

                    <button type="submit" style="right:25%"
                            class="mt-8 w-56 hover:shadow-xl duration-300 transform rounded-full justify-center bg-gray-200 border p-3 mt-8 absolute focus:outline-none flex items-center">
                        <img src="/img/write.svg" class="h-5 w-5 scale-110 mr-3">
                        <p class="text-xl text-gray-800">수정</p>
                    </button>
                </form>
            </div>
        </div>
    </article>
</section>







<footer class="h-40 flex items-center justify-around bg-black text-gray-400" th:replace="common/footer"></footer>
<script>
    $('#signOut').submit(function () {
        $.ajax({
            url: 'signOut',
            type: 'get',
            success: function (res) {
                if (res === "success") {
                    alert("정상적으로 로그아웃되었습니다.");
                    location = "/";
                }
            }
        })
        return false;
    })
</script>

</body>
</html>



