<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.css">
    <link rel="stylesheet" href="../css/tailwind.css">
    <!--Google_Font-->
    <link rel="stylesheet" href="../css/font.css"/>
</head>
<body>
<nav class="flex h-20 items-center w-full border-b z-10 top-0" th:replace="common/nav"></nav>

<section style="background-image: url(../img/bitcoin2.jpg); height: 350px" class="w-full flex flex-col items-center justify-center">
    <div style="background-color: rgba(0, 0, 0, 0.3);height: 350px" class="w-full absolute"></div>
    <div class="border-t-2 border-b-2 text-white flex-col flex items-center text-lg z-10"style="width: 340px">
        <p class="mt-2">SNAPBIT의 핵심가치는</p>
        <p class="mb-2">모든 고객이 만족할 수 있는 서비스 입니다</p>
    </div>
    <p class="text-white text-4xl mt-16 z-10" style="width: 540px">스냅빗은 여러분과 함께 만들어 갑니다</p>
</section>

<!-- Board -->
<section class="h-screen flex flex-col items-center mt-4 w-full">
    <!-- Search Bar -->
    <article class="w-3/5 flex mt-20 justify-end h-16 text-lg items-center mb-6">
        <form action="/board" method="GET" class="flex items-center">
            <input id="search" type="text" name="keyword" placeholder="검색어를 입력해주세요." value=""
                   class="border-b py-1 px-4 focus:outline-none mr-4">

            <button type="submit"
                    class="ml-1 focus:outline-none text-gray-800 flex items-center">
                <img src="../img/search.svg" class="h-4 w-4 mr-1">
                검색
            </button>
        </form>
    </article>

    <!-- Board List -->
    <article class="w-3/5">
        <div class="w-full font-bold flex h-16 border-b border-t text-center items-center">
            <p style="width:10%">번호</p>
            <p style="width:50%;text-align: left">제목</p>
            <p style="width:10%">작성자</p>
            <p style="width:20%">날짜</p>
            <p style="width:10%">조회수</p>
        </div>

        <div th:each="board:${boardList}" style="font-weight: 200"
             class="text-lg w-full items-center flex focus:outline-none hover:bg-gray-100 hover:text-gray-800 text-gray-600 h-16 border-b text-center">
            <p style="width:10%" class="text-center" th:text="${board.id}"></p>
            <div style="width:50%;text-align: left">
                <th:block th:if="${session.user_info}!=null">
                    <form method="get" action="board/click">
                        <input type="hidden" name="board_id" th:value="${board.id}">
                        <input type="hidden" name="author" th:value="${session.user_info.nickname}">
                        <button th:text="${board.title}" type="submit"></button>
                    </form>
                </th:block>
                <th:block th:if="${session.user_info}==null">
                    <form method="get" action="board/click">
                        <input type="hidden" name="board_id" th:value="${board.id}">
                        <input type="hidden" name="author" th:value="root">
                        <button th:text="${board.title}" type="submit"></button>
                    </form>
                </th:block>

            </div>
            <p th:text="${board.author}" style="width:10%" class="text-center"></p>
            <p th:text="${#temporals.format(board.createdDate, 'M월 d일 HH:mm')}" style="width:20%"
               class="text-center"></p>
            <p style="width:10%" class="text-center" th:text="${board.hit}"></p>
        </div>
    </article>


    <!-- PageNavigation Bar -->
    <article class="flex justify-center items-center mt-10 text-lg w-3/5 text-gray-500">
        <a href="?page=1" class="mr-3 "> 처음</a>

        <a class="mr-3" th:if="${nowPage} <= 1" hidden>이전</a>
        <a class="mr-3" th:unless="${nowPage}<=1" th:href="@{'/board?page=' + ${nowPage -1}}">이전 </a>


        <div th:each="pageNum : ${pageList}" th:inline="text">
            <div th:if="${pageNum}!=null" class="flex w-8 h-8 justify-center items-center bg-blue-700 text-white">
                <a th:href="@{'/board?page=' + ${pageNum}}">[[${pageNum}]]</a>
            </div>
        </div>

        <a class="mr-3" th:if="${nowPage} >= ${totalLastPageNum}" hidden>다음</a>

        <a class="ml-3" th:unless = "${nowPage} >= ${totalLastPageNum}" th:href="@{'/board?page='+ ${nowPage+1}}">다음</a>



        <a class="ml-3" th:href="@{'/board?page='+ ${totalLastPageNum}}">마지막</a>

        <div th:if="${session.user_info != null}">
            <form action="/board/write" method="get">
                <button type="submit" style="right:20%"class="focus:outline-none absolute text-gray-800 flex items-center">
                    <img src="../img/write.svg" class="h-3 w-3 scale-110 mr-1">
                    <p>글쓰기</p>
                </button>
            </form>
        </div>

        <div th:if="${session.user_info == null}">
            <button type="button" onclick="userVerify()" style="right:20%"class="focus:outline-none absolute text-gray-800 flex items-center">
                <img src="../img/write.svg" class="h-3 w-3 scale-110 mr-1">
                <p>글쓰기</p>
            </button>
        </div>
    </article>
</section>
<footer class="h-40 flex items-center justify-around bg-black text-gray-400" th:replace="common/footer"></footer>

<!-- User Verifying JS for writing post -->
<script>
    function userVerify() {
        alert("로그인 후 이용바랍니다.");
    }
</script>
<script>
    $('#signOut').submit(function () {
        $.ajax({
            url: 'signOut',
            type: 'get',
            success: function (res) {
                if (res === "success") {
                    alert("정상적으로 로그아웃되었습니다.");
                    location = "/";
                }
            }
        })
        return false;
    })
</script>

</body>

</html>
