<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../css/tailwind.css">
    <link rel="stylesheet" href="../css/pagination.css">

    <!--Google_Font-->
    <link rel="stylesheet" href="../css/font.css"/>
</head>
<body>
<nav class="flex h-20 items-center w-full border-b z-10 top-0">
    <div class="flex-grow flex justify-center">
        <a href="/" class="text-4xl font-bold change">SNAPBIT</a>

    </div>
    <div class="justify-around flex-grow flex justify-between change text-lg">
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/">Home</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1">About</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/news">News</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/board">Board</a>
    </div>
    <div class="flex-grow flex justify-center transform" th:if="${session.user_info} == null">
        <form method="get" action="/signIn">
            <ul>
                <button
                        class="flex border rounded-lg w-24 text-xl focus:outline-none justify-center p-1 text-white hover:scale-110 change">
                    Signin
                </button>
            </ul>
        </form>
    </div>
    <div class="flex-grow flex justify-center transform" th:if="${session.user_info} != null">
        <form id="signOut">
            <ul class="flex">
                <p th:text="${session.user_info.name}" class="text-lg text-white mr-5"></p>
                <button
                        class="flex border rounded-lg w-24 text-xl focus:outline-none justify-center p-1 text-white hover:scale-110 change">
                    Signout
                </button>
            </ul>
        </form>
    </div>
</nav>


<!-- board list area -->
<section class="h-screen flex flex-col items-center mt-64">
    <article class="w-3/5">
        <table class="w-full">
            <thead>
            <tr class="font-bold flex h-10">
                <th style="flex-grow:1">번호</th>
                <th style="flex-grow:10">제목</th>
                <th style="flex-grow:2">작성자</th>
                <th style="flex-grow:1">날짜</th>
                <th style="flex-grow:1">조회수</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="board : ${boardList}" class="text-gray-700 border-b h-10">
                <td>
                    <span th:text="${board.id}"></span>
                </td>
                <td>
                    <a th:href="@{'/post/' + ${board.id}}">
                        <span th:text="${board.title}"></span>
                    </a>
                </td>
                <td>
                    <a>
                        <span th:text="${board.author}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
                <td>
                    <span>개발중</span>
                </td>

            </tr>
            </tbody>
        </table>
    </article>

    <!-- search  -->
    <article class="w-full flex mt-20 justify-center">
        <form action="/board/search" method="GET">
            <input id="search" type="text" name="keyword" placeholder="검색어를 입력해주세요." value="">
            <button type="submit" class="btn btn-dark">검색</button>
        </form>
        <a class="ml-40" href="write">글쓰기</a>
    </article>
</section>


<div class="page">
    <ul class="pagination modal">
        <li><a href="?page=1"> 처음페이지
        </a></li>
        </a></li>

        <li th:each="pageNum : ${pageList}" th:inline="text">
            <a class="num"
               th:href="@{'/board/?page=' + ${pageNum}}">[[${pageNum}]]</a>
        </li>
        </a></li>
        <li><a class="last"
               href="#">
            끝페이지
        </a>

        </li>
    </ul>
</div>


<!--page number -->


</body>

</html>