<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link href="../css/tailwind.css" rel="stylesheet">  <!--tailwind_Css-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>  <!--AOS_Css-->
    <link rel="stylesheet" href="../css/phone.css"/>
    <!--Google_Font-->
    <link rel="stylesheet" href="../css/font.css"/>
    <link rel="stylesheet" href="../css/background.css"/>
</head>
<body>
<nav id="navbar" class="flex h-20 items-center w-full top-0 z-10 fixed">
    <div class="flex-grow flex justify-center">
        <a class="text-4xl text-white font-bold change" href="/">SNAPBIT</a>

    </div>
    <div class="justify-around flex-grow flex justify-between text-white change text-lg">
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
           href="/">Home</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1">About</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1" href="/news">News</a>
        <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1">Board</a>
    </div>

    <div class="flex-grow flex justify-center transform" th:if="${session.user_info} == null">
        <form method="get" action="/signIn">
            <ul>
                <button
                        class="flex border rounded-lg w-24 text-xl focus:outline-none justify-center p-1 text-white hover:scale-110 change">
                    Signin
                </button>
            </ul>
        </form>
    </div>
    <div class="flex-grow flex justify-center transform" th:if="${session.user_info} != null">
        <form id="signOut">
            <ul class="flex">
                <p th:text="${session.user_info.name}" class="text-lg text-white mr-5"></p>
                <button
                        class="flex border rounded-lg w-24 text-xl focus:outline-none justify-center p-1 text-white hover:scale-110 change">
                    Signout
                </button>
            </ul>
        </form>
    </div>
</nav>


<!--Phone News Section-->
<section class="h-screen flex justify-start items-center">
    <p class="ml-10 text-lg text-white absolute">아래로 스크롤 해보세요!</p>

    <div class="phone flex justify-center absolute items-center"
         style="background-image: url(../img/iphone11.png);background-size:100% 100%;width: 1000px;height: 900px">
        <div class="screen">
            <div class="content-wrapper">
                <div class="content">
                    <ol class="messages">
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <article class="flex-col items-center justify-center flex"
             style="-webkit-font-smoothing: antialiased;margin-left: 50%">
        <p class="text-6xl text-white mb-20 font-bold">암호화폐, 블록체인 정보를</p>
        <p class="text-4xl text-white mb-20">스냅빗과 함께 빠르고 간편하게</p>
        <p class="text-5xl text-white">오늘부터 1일 1스냅!</p>
    </article>
</section>

<!-- Small Chart Section-->
<section class="h-screen flex justify-around mb-56 items-center">
    <article data-aos="zoom-in-right" class="rounded-lg ml-48 shadow-lg bg-transparent hover:shadow-2xl "
             style="height: 420px;width: 440px">
        <!-- TradingView Widget1 BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
        </div>
        <script type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
            {
                "symbol"
            :
                "BITHUMB:BTCKRW",
                    "width"
            :
                "440",
                    "height"
            :
                "420",
                    "locale"
            :
                "kr",
                    "dateRange"
            :
                "12m",
                    "colorTheme"
            :
                "dark",
                    "trendLineColor"
            :
                "#37a6ef",
                    "underLineColor"
            :
                "rgba(55, 166, 239, 0.15)",
                    "isTransparent"
            :
                false,
                    "autosize"
            :
                true,
                    "largeChartUrl"
            :
                ""
            }
        </script>

        <!-- TradingView1 Widget END -->
    </article>

    <article data-aos="zoom-in-left" class="rounded-lg mr-48 shadow-lg bg-transparent hover:shadow-2xl"
             style="height: 420px;width: 440px;">
        <!-- TradingView2 Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget">
            </div>
        </div>
        <script type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
                "interval"
            :
                "1D",
                    "width"
            :
                440,
                    "isTransparent"
            :
                false,
                    "height"
            :
                420,
                    "symbol"
            :
                "BITHUMB:BTCKRW",
                    "showIntervalTabs"
            :
                true,
                    "locale"
            :
                "kr",
                    "colorTheme"
            :
                "dark"
            }
        </script>

        <!-- TradingView2 Widget END -->
    </article>
</section>

<!-- Big Chart Section-->
<section class="h-screen flex justify-center">
    <article
            class="rounded-lg shadow-lg bg-transparent transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105 mt-20"
            style="height: 400px;">
        <!-- TradingView3 Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div id="tradingview_600bc"></div>
        </div>
        <!-- TradingView3 Widget END -->
    </article>

</section>

<footer class="h-64 bg-gray-200">
    여기가 footer

</footer>


<script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
<!--AOS JS-->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>AOS.init();</script>
<!--Nav JS-->
<script src="../js/navbar.js"></script>
<!--News JS-->
<script src="../js/newsData.js"></script>
<!--SignIn__btn JS-->
<script src="../js/signIn_btn.js"></script>
<!--Chart JS-->
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
    new TradingView.widget(
        {
            "width": 900,
            "height": 400,
            "symbol": "BITHUMB:BTCKRW",
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "dark",
            "style": "1",
            "locale": "kr",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_600bc"
        }
    );
</script>

<!--<script src="../js/phone.js"></script>-->

<!--SignOut JS-->
<script>
    $('#signOut').submit(function () {
        $.ajax({
            url:'signOut',
            type: 'get',
            success: function (res) {
                if(res==="success"){
                    alert("정상적으로 로그아웃되었습니다.");
                    location = "/";}
            }})
        return false;
    })
</script>

</body>
</html>