<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="../css/phone.css"/>
    <link rel="stylesheet" href="../css/tailwind.css">
    <link rel="stylesheet" href="../css/background.css"/>
    <!--Google_Font-->
    <link rel="stylesheet" href="../css/font.css"/>
</head>

<body>

<!-- Main Page -->
<section id="main">
    <nav id="navbar" class="flex h-20 items-center w-full top-0 z-30 fixed">
        <div class="flex-grow flex justify-center">
            <a class="text-4xl text-white font-bold change" href="/">SNAPBIT</a>

        </div>
        <div class="justify-around flex-grow flex justify-between text-white change text-lg">
            <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
               href="/">Home</a>
            <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
               href="/contents">Contents</a>
            <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
               href="/news">News</a>
            <a class="hover:font-bold hover:scale-110 transition duration-300 ease-in-out transform hover:-translate-y-1"
               href="/board">Board</a>
        </div>

        <div class="flex-grow flex justify-center transform" th:if="${session.user_info} == null">
            <form method="get" action="/signIn">
                <ul>
                    <button class="flex items-center">
                        <p class="mr-4 text-white change">로그인</p>
                        <img src="../img/userIcon.svg"
                             class="h-8 w-8 mr-3 transform hover:scale-110 duration-300 ease-in-out">
                    </button>
                </ul>
            </form>
        </div>
        <div class="flex-grow flex justify-center transform" th:if="${session.user_info} != null">
            <form id="signOut">
                <ul class="flex">
                    <div class="flex items-center">
                        <a href="/userInfo">
                            <img src="../img/userIcon.svg"
                                 class="h-8 w-8 mr-3 transform hover:scale-110 duration-300 ease-in-out">
                        </a>
                        <p th:text="|${session.user_info.nickname}님|" class="change text-lg text-white mr-5"></p>
                        <button>
                            <img src="../img/signOut.svg"
                                 class="h-8 w-8 mr-3 transform hover:scale-110 duration-300 ease-in-out">
                        </button>
                    </div>
                </ul>
            </form>
        </div>
    </nav>

    <!-- 휴대폰 뉴스 -->
    <section class="h-screen flex justify-start items-center">
        <p class="ml-10 text-lg text-white absolute">아래로 스크롤 해보세요!</p>

        <div class="phone flex justify-center absolute items-center"
             style="background-image: url(../img/iphone11.png);background-size:100% 100%;width: 1000px;height: 900px">
            <div class="screen">
                <div class="content-wrapper">
                    <div class="content">
                        <ol class="messages">
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <article class="flex-col items-center justify-center flex"
                 style="-webkit-font-smoothing: antialiased;margin-left: 50%">
            <p class="text-6xl text-white mb-20 font-bold">암호화폐, 블록체인 정보를</p>
            <p class="text-4xl text-white mb-20">스냅빗과 함께 빠르고 간편하게</p>
            <p class="text-5xl text-white">오늘부터 1일 1스냅!</p>
        </article>
    </section>
</section>


<!-- Blockchain Introduction -->
<section class="flex items-center h-screen w-full justify-center">
    <article class="w-4/5 flex justify-around">
        <div class="flex flex-col items-start w-1/3 overflow-hidden">
            <h1 class="font-bold text-6xl text-gray-900"> What is Blockchain?</h1>
            <p class="text-gray-600 text-lg mt-6">블록체인(blockchain)은 관리 대상 데이터를 '블록'이라고 하는 소규모 데이터들이 P2P 방식을 기반으로 생성된 체인
                형태의
                연결고리 기반 분산 데이터 저장 환경에 저장하여 누구라도 임의로 수정할 수 없고 누구나 변경의 결과를 열람할 수 있는 분산 컴퓨팅 기술 기반의 원장 관리 기술이다. 이는 근본적으로 분산
                데이터 저장기술의 한 형태로, 지속적으로
                변경되는 데이터를 모든 참여 노드에 기록한 변경 리스트로서 분산 노드의 운영자에 의한 임의 조작이 불가능하도록 고안되었다. 블록체인 기술은 비트코인을 비롯한 대부분의 암호화폐 거래에
                사용된다. 암호화폐의 거래과정은 탈중앙화된
                전자장부에 쓰이기 때문에 블록체인 소프트웨어를 실행하는 많은 사용자들의 각 컴퓨터에서 서버가 운영되어, 중앙에 존재하는 은행 없이 개인 간의 자유로운 거래가 가능하다.
            </p>
        </div>
        <div class="w-1/3 h-full">
            <img src="../img/blockchain.png">
        </div>
    </article>
</section>


<!-- Cryptocurrency Introduction -->
<section class="flex justify-between items-center bg-black mt-64 mb-56" style="height: 500px">
    <img src="../img/coin.jpg" class="z-10 relative" style="height: 400px;top:-150px">
    <div class="absolute h-full bg-white" style="width:700px"></div>
    <article class="flex flex-col justify-center p-10" style="height: 80%;width:35%">
        <h1 class="font-bold text-5xl text-white"> Then, Cryptocurrency?</h1>
        <p class="text-gray-500 text-lg mt-6">암호화폐(Cryptocurrency)는 '암호화'라는 뜻을 가진 'crypto-'와 통화, 화폐란 뜻을 가진
            'currency'의 합성어로, 분산 원장(Distributed Ledger)에서 공개키 암호화를 통해 안전하게 전송하고, 해시 함수를 이용해 쉽게 소유권을 증명해 낼 수 있는 디지털
            자산이다. 일반적으로 암호화폐는 블록체인이나 DAG(Directed Acyclic Graph)을 기반으로 한 분산 원장 위에서 동작한다.
        </p>
    </article>
</section>

<!-- Medium-Chart Information -->
<section class="h-screen w-full flex items-center justify-around" style="height: 800px">
    <div class="pb-56 w-1/2 ml-32 items-start flex flex-col">
        <div class="flex">
            <p class="text-5xl font-bold mb-10 mr-10">
                <strong>Trendy</strong>하다?&nbsp;&nbsp;<strong>SNAPBIT</strong>하다!
            </p>
            <img id="bitcoin" src="../img/bitcoinlogo.svg"
                 class="w-20 h-20 transform transition hover:-translate-y-12 hover:translate-x-12 hover:scale-150 ease-in-out duration-300">
        </div>
        <div class="flex text-gray-500">
            <p class="text-2xl mr-3 transform transition hover:translate-y-3 ease-in-out duration-150 hover:text-red-400">
                #암호화폐</p>
            <p class="text-2xl mr-3 transform transition hover:translate-y-3 ease-in-out duration-150 hover:text-red-400">
                #비트코인</p>
            <p class="text-2xl mr-3 transform transition hover:translate-y-3 ease-in-out duration-150 hover:text-red-400">
                #이더리움</p>
            <p class="text-2xl mr-3 transform transition hover:translate-y-3 ease-in-out duration-150 hover:text-red-400">
                #거래소</p>
            <p class="text-2xl mr-3 transform transition hover:translate-y-3 ease-in-out duration-150 hover:text-red-400">
                #SNAPBIT</p>
        </div>
    </div>

    <div class="w-1/2 flex justify-around">
        <article data-aos="zoom-in-right" class="shadow-2xl" style="height: 400px;width: 350px">
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
            </div>
            <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                    "symbol"
                :
                    "BITHUMB:BTCKRW",
                        "width"
                :
                    "350",
                        "height"
                :
                    "400",
                        "locale"
                :
                    "kr",
                        "dateRange"
                :
                    "12m",
                        "colorTheme"
                :
                    "light",
                        "trendLineColor"
                :
                    "#219FFF",
                        "underLineColor"
                :
                    "#D2ECFF",
                        "isTransparent"
                :
                    true,
                        "autosize"
                :
                    true,
                        "largeChartUrl"
                :
                    ""
                }
            </script>
        </article>

        <article data-aos="zoom-in-left" class="shadow-2xl"
                 style="height: 400px;width: 350px;">
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
            </div>
            <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                    "interval"
                :
                    "1D",
                        "width"
                :
                    350,
                        "isTransparent"
                :
                    true,
                        "height"
                :
                    400,
                        "symbol"
                :
                    "BITHUMB:BTCKRW",
                        "showIntervalTabs"
                :
                    true,
                        "locale"
                :
                    "kr",
                        "colorTheme"
                :
                    "light"
                }
            </script>
        </article>
    </div>
</section>

<!-- Big-Chart Information -->
<section class="h-screen flex-col flex justify-center items-center mb-56">
    <p class="text-4xl font-bold mb-6 italic">실시간 코인 차트도 한눈에!</p>
    <div class="tradingview-widget-container">
        <div id="tradingview_600bc"></div>
    </div>
</section>

<footer class="h-40 flex items-center justify-around bg-black text-gray-400" th:replace="common/footer"></footer>
<script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
<!--AOS JS-->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>AOS.init();</script>
<!--Navigation JS-->
<script src="../js/navbar.js"></script>
<!--News JS-->
<script src="../js/newsData.js"></script>
<!--Chart JS-->
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
    new TradingView.widget(
        {
            "width": 900,
            "height": 400,
            "symbol": "BITHUMB:BTCKRW",
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "light",
            "style": "1",
            "locale": "kr",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_600bc"
        }
    );
</script>
<!--SignOut JS-->
<script>
    $('#signOut').submit(function () {
        $.ajax({
            url: 'signOut',
            type: 'get',
            success: function (res) {
                if (res === "success") {
                    alert("정상적으로 로그아웃되었습니다.");
                    location = "/";
                }
            }
        })
        return false;
    })
</script>

<!--<script src="../js/phone.js"></script>-->

</body>
</html>